:root {
    --header-text-color: #2c3e50;
    --main-font: 'Poppins', sans-serif;
    --main-line-heigh: 2;
}

/**
    Global
 */
.header-text {
    color: var(--header-text-color);
    font-family: var(--main-font);
    position: relative;
    top: 20%;
}

/**
    Navigation
 */
.navigation-item {
    font-weight: 500;
    color: var(--header-text-color);
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

.about-view {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    position: relative;
    height: 20rem;
}

.navigation-item:hover {
    background: var(--header-text-color);
    font-weight: 500;
    color: #fff;
}

/**
    About
 */

.about-content {
    position: relative;
    top: -8rem;
    width: 40rem;
    font-family: var(--main-font) !important;
    line-height: var(--main-line-heigh) !important;
}

.about-card {
    border-radius: 7px;
    background: #fff;
    padding: 1.5rem;
    width: 40rem;
}

@media screen and (max-width: 768px) {
    .about-content {
        position: center;
        top: 0;
        max-width: 28rem;
    }
    .about-view {
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        border-radius: 7px;
        padding: 5rem;
        height: 16rem;
    }
    svg {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .about-content {
        position: center;
        top: 0;
        max-width: 28rem;
    }
    .about-view {
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        border-radius: 7px;
        padding: 5rem;
        height: 16rem;
    }
}

@media screen and (max-width: 435px) {
    .about-view {
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        border-radius: 7px;
        padding: 2rem !important;
        height: 12rem !important;
    }

    .about-content {
        position: center;
        top: 0;
        max-width: 26rem;
    }
}

@media screen and (max-width: 375px) {
    .about-view {
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        border-radius: 7px;
        padding: 2rem !important;
        height: 12rem !important;
    }

    .about-content {
        position: center;
        top: 0;
        max-width: 22rem;
    }

    .header-text {
        color: var(--header-text-color);
        font-family: var(--main-font);
        position: relative;
        top: 0%;
        font-size: 35px;
    }
}